{% extends 'base.html' %}
{% load static %}
<!-- beneficiary Section Starts -->
{% block content %}
<section class="container" id="aboutus-section">
    <section class="row mt-5">
        <section class="col-md-5 mt-5">
            <h3 class="animate__animated animate__bounceInLeft">My Location</h3><br>
            <ul class="animate__animated animate__bounceInRight">
                <br>
                <h2 class="animate__animated animate__bounceInLeft">Coming soon!</h2><br>
                </ul>
        </section>
        <section class="offset-md-2 col-md-5">
            <img src="{% static '/assests/location.jpg' %}" alt="howtouseQuotation" class="img-fluid">
        </section>
    </section>
</section>
{% endblock %}
<!-- beneficiary Section Ends -->
