{% extends 'base.html' %}
{% load static %}

<!-- Introduction Section Starts -->
{% block content %}
<style>
    button {
        border: none;
        outline: none;
        font-size: 50px;
        color: #5372F0;
        padding: 11px 22px;
        border-radius: 10px;
        cursor: pointer;
        background: rgb(252, 252, 252);
        box-shadow: 0 20px 20px 20px rgba(0, 0, 0, 0.1);
    }

    h2 {
        font-size: 45px;
        /* text-shadow:  2px 2px orange, 4px 4px yellow; */
        background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }
</style>
</style>
<section class="container intro">
    <section class="row mt-5">
        <section class="col-md-4 offset-md-2 mx-auto mt-5">


            <h2 class="animate__animated animate__bounceInLeft">The VisionLabs</h2> <br>

            <button>
                <h6><i>Even without Sight, there is still a Vision.</i></h6>
                <hr>
                <h6 class="animate__animated animate__bounceInRight">“The power of the web is in its universality.
                    Access by
                    everyone regardless of disability is an essential aspect.” </h6>
                <h6><i>Tim Berners-Lee, W3C Director and Inventor of
                        WWW.</i></h6>
                <br>

                <h6><span class="typing-text"></span></h6>

            </button>


        </section>
        <section class="offset-md-2 col-md-5"><br><br>
            <img src="{% static '/assests/home2.jpg' %}" alt="howtouseQuotation" width="400" height="400" class="img-fluid">
        </section>
    </section>
</section>
<!-- Typed.js cdn -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.5/typed.min.js"
    integrity="sha512-1KbKusm/hAtkX5FScVR5G36wodIMnVd/aP04af06iyQTkD17szAMGNmxfNH+tEuFp3Og/P5G32L1qEC47CZbUQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Developer Typed.js file -->
<script src="{% static '/js/typed.js' %}"></script>
{% endblock %}
<!-- Introduction Section Ends -->