{% extends 'base.html' %}

{% load static %}
<!-- beneficiary Section Starts -->
{% block content %}
<style>

button{
  border: none;
  outline: none;
  font-size: 50px;
  color: #5372F0;
  padding: 23px 44px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  background: rgb(231, 231, 231);
  box-shadow: 0 20px 20px 20px rgba(0,0,0,0.1);
}

</style>
<section class="container" id="aboutus-section">
    <section class="row mt-5">
        <section class="col-md-5 mt-5">
            <body id="main">
                <button>
                    <p>Your Location</p><hr>
                    <p id="myLocation"></p>
                </button>
                
            </body>
        </section>
        <section class="offset-md-2 col-md-5">
            <img src="{% static '/assests/location.jpg' %}" alt="howtouseQuotation" class="img-fluid">
        </section>
    </section>
</section>
{% endblock %}
<!-- beneficiary Section Ends -->