{% extends 'base.html' %}

{% load static %}
<!-- beneficiary Section Starts -->
{% block content %}
<style>

button{
  border: none;
  outline: none;
  font-size:45px;
  color: #5372F0;
  padding: 23px 44px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  background: rgb(231, 231, 231);
  box-shadow: 0 20px 20px 20px rgba(0,0,0,0.1);
}
h2 {
    font-size: 45px;
    /* text-shadow:  2px 2px orange, 4px 4px yellow; */
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

</style>
<section class="container" id="aboutus-section">
    <section class="row mt-5">
        <section class="col-md-5 mt-5">
            <body id="main">
                <h2 class="animate__animated animate__bounceInLeft">Your Location</h2>
                <br>
                <button>
                    <p id="myLocation"></p>
                </button>
                <br>
                
        </section>
        <section class="offset-md-2 col-md-5"><br><br>
            <img src="{% static '/assests/location.jpg' %}" alt="locationQuotation" width="400" height="400" class="img-fluid">
        </section>
    </section>
</section>
{% endblock %}
<!-- beneficiary Section Ends -->